In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import os
import datetime
pd.options.display.max_rows = 20

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

import warnings
warnings.filterwarnings(action='ignore')

## 아래는 matplotlib 한국어 표시해주는 코드

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [2]:
food = pd.read_excel('음식2.xlsx')

In [28]:
food1 = pd.read_excel('음식1.xlsx')

In [7]:
#drop 안에서 axis=1은 column을 지우는 것
org_food =food.drop(['번호', '개방서비스명', '개방서비스ID', '개방자치단체코드', '관리번호', '인허가취소일자',
       '영업상태구분코드',  '상세영업상태코드', '상세영업상태명', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지우편번호', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '좌표정보(X)', '좌표정보(Y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지'], axis=1)

In [39]:
org_food1 =food1.drop(['번호', '개방서비스명', '개방서비스ID', '개방자치단체코드', '관리번호', '인허가취소일자',
       '영업상태구분코드',  '상세영업상태코드', '상세영업상태명', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지우편번호', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '좌표정보(X)', '좌표정보(Y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지'], axis=1)

In [41]:
org_food.head()

      인허가일자 영업상태명        폐업일자   소재지면적                     소재지전체주소 업태구분명
0  19870721    폐업  20060530.0   18.60       서울특별시 영등포구 신길동 261번지     분식
1  19870721    폐업  19950208.0   18.90  서울특별시 영등포구 영등포동5가 129-0번지     한식
2  19951011    폐업  19960531.0    2.53    서울특별시 영등포구 대림동 876-13번지     분식
3  19951011    폐업  20031210.0  383.03  서울특별시 영등포구 영등포동 618-496번지     분식
4  19951012    폐업  20000517.0    6.00   서울특별시 영등포구 영등포동7가 79-1번지     한식

In [52]:
#food두개 합치기!!!
real_food = org_food.append(org_food1)

In [53]:
real_food

,인허가일자,영업상태명,폐업일자,소재지면적,소재지전체주소,업태구분명
0,19870721,폐업,2.00605e+07,18.60,서울특별시 영등포구 신길동 261번지,분식
1,19870721,폐업,1.99502e+07,18.90,서울특별시 영등포구 영등포동5가 129-0번지,한식
2,19951011,폐업,1.99605e+07,2.53,서울특별시 영등포구 대림동 876-13번지,분식
3,19951011,폐업,2.00312e+07,383.03,서울특별시 영등포구 영등포동 618-496번지,분식
4,19951012,폐업,2.00005e+07,6.00,서울특별시 영등포구 영등포동7가 79-1번지,한식
...,...,...,...,...,...,...
299995,19861127,폐업,19950208,16.65,서울특별시 영등포구 여의도동 54-2번지 진주 1동 1 3호,경양식
299996,19861128,폐업,19950630,24.94,서울특별시 영등포구 양평동5가 90-2번지,분식
299997,19861201,폐업,20010716,24.35,서울특별시 영등포구 당산동2가 147-4번지,한식
299998,19861202,폐업,20170111,239.62,서울특별시 영등포구 여의도동 25-15번지 대유증권 지하 101호,한식
299999,19861203,폐업,19910807,30.70,서울특별시 영등포구 영등포동3가 4-7번지,분식

In [54]:
real_food['구'] = real_food['소재지전체주소'].str.split(" ").str[1]

In [55]:
real_food.head()

      인허가일자 영업상태명         폐업일자   소재지면적                     소재지전체주소 업태구분명     구
0  19870721    폐업  2.00605e+07   18.60       서울특별시 영등포구 신길동 261번지     분식  영등포구
1  19870721    폐업  1.99502e+07   18.90  서울특별시 영등포구 영등포동5가 129-0번지     한식  영등포구
2  19951011    폐업  1.99605e+07    2.53    서울특별시 영등포구 대림동 876-13번지     분식  영등포구
3  19951011    폐업  2.00312e+07  383.03  서울특별시 영등포구 영등포동 618-496번지     분식  영등포구
4  19951012    폐업  2.00005e+07    6.00   서울특별시 영등포구 영등포동7가 79-1번지     한식  영등포구

In [56]:
real_food.to_csv('폐업_처리.csv', encoding = 'cp949')