In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import os
import datetime
pd.options.display.max_rows = 20

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

import warnings
warnings.filterwarnings(action='ignore')

## 아래는 matplotlib 한국어 표시해주는 코드

from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

from IPython.display import Image
from IPython.core.display import HTML

# 필요한 데이터 불러오기

In [22]:
before = pd.read_csv('처리/FINAL_FINAL_코로나추가2.csv', encoding='cp949')
living = pd.read_csv('처리/생활인구_구.csv', encoding='cp949')
stores_dong = pd.read_csv('처리/점포수_동.csv', encoding='cp949')

### 전체 틀 정리

In [3]:

#날짜, 구,동만 남기기
jns = living.drop(['생활인구수', '시도명'], axis=1)
jns.columns = ['날짜', '구', '읍면동명']

#제1동에서 1동으로 동 이름 변경
for k in range(len(jns['읍면동명'])):
    if (jns['읍면동명'][k] != '제기동') & (jns['읍면동명'][k] != '홍제1동')& (jns['읍면동명'][k] != '홍제2동')& (jns['읍면동명'][k] != '홍제3동'):
        jns['읍면동명'][k] = jns['읍면동명'][k].replace("제","")
        
jns.columns = ['날짜', '구', '동']
jns.drop_duplicates(inplace=True)

In [130]:
df =jns

### 기존 변수 정리

In [132]:
before.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1,inplace=True)
before.columns = ['날짜', '구', '구_생활인구수', '구_유동인구수', '구_전체점포수', '구_프랜차이즈점포수', '구_일반점포수', '구_확진자수', '구_신규',
       '구_누적확진자수', '서울_신규', '서울_누적']
before.head()

,날짜,구,구_생활인구수,구_유동인구수,구_전체점포수,구_프랜차이즈점포수,구_일반점포수,구_확진자수,구_신규,구_누적확진자수,서울_신규,서울_누적
0,2020-02-01,강남구,759286.0842,526535.0000,55875,4371,51504,0,0,0,0.0,0.0
1,2020-02-01,강동구,519147.6209,347490.4167,20974,1901,19073,0,0,0,0.0,0.0
2,2020-02-01,강북구,319527.8081,248604.1667,13417,1075,12342,0,0,0,0.0,0.0
3,2020-02-01,강서구,555865.8080,452703.3333,25902,2633,23269,0,0,0,0.0,0.0
4,2020-02-01,관악구,520445.2208,415262.5000,19734,1908,17826,0,0,0,0.0,0.0

### 동_점포수 정리 (2020년기준)

In [133]:
# df에 분기 넣기. 3분기 정보가 없어서 2분기 점포수 활용


df['분기'] = "0분기"

for k in range(len(df['날짜'])):
    if df['날짜'][k] <= 20200331:
        df['분기'][k] = "1분기"
    else:
        df['분기'][k] = "2분기"

In [135]:
stores_dong.drop('Unnamed: 0', axis=1,inplace=True)
stores_dong['1분기'] = "1분기"
stores_dong['2분기'] = "2분기"

In [136]:
# Index(['구', '행정구역', '2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
#        '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
#        '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
#        '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
#        '2020년 1분기 일점포수', '2020년 1분기 프랜차이점포수', '2020년 1분기 전점포수',
#        '2020년 2분기 일점포수', '2020년 2분기 프랜차이점포수', '2020년 2분기 전점포수']

stores_dong_all_1 = stores_dong.drop(['2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
       '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
       '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
       '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
       '2020년 1분기 일점포수', '2020년 1분기 프랜차이점포수', 
       '2020년 2분기 일점포수', '2020년 2분기 프랜차이점포수', '2020년 2분기 전점포수', '2분기'], axis=1)

stores_dong_all_2 = stores_dong.drop(['2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
       '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
       '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
       '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
       '2020년 1분기 일점포수', '2020년 1분기 프랜차이점포수', 
       '2020년 2분기 일점포수', '2020년 2분기 프랜차이점포수', '2020년 1분기 전점포수', '1분기'], axis=1)

전체점포수

In [137]:
### 동 전체 점포수 df에 넣기!
df = df.merge(stores_dong_all_1,left_on = ['구', '동', '분기'], right_on = ['구', '행정구역', '1분기'], how='left')
df = df.merge(stores_dong_all_2,left_on = ['구', '동', '분기'], right_on = ['구', '행정구역', '2분기'], how='left')


#  점포수 분기로 구분해서 넣기
df['동_전체점포수'] = df['2020년 1분기 전점포수'].combine_first(df['2020년 2분기 전점포수'])


# 쓸데없는거버리기
df.drop(['행정구역_x', '2020년 1분기 전점포수', '1분기', '행정구역_y',
       '2020년 2분기 전점포수', '2분기',],axis=1,inplace=True)

df

             날짜    구      동   분기  동_전체점포수
0      20200201  종로구  청운효자동  1분기    753.0
1      20200202  종로구  청운효자동  1분기    753.0
2      20200203  종로구  청운효자동  1분기    753.0
3      20200204  종로구  청운효자동  1분기    753.0
4      20200205  종로구  청운효자동  1분기    753.0
...         ...  ...    ...  ...      ...
90307  20200827  강동구   둔촌2동  2분기   1085.0
90308  20200828  강동구   둔촌2동  2분기   1085.0
90309  20200829  강동구   둔촌2동  2분기   1085.0
90310  20200830  강동구   둔촌2동  2분기   1085.0
90311  20200831  강동구   둔촌2동  2분기   1085.0

[90312 rows x 5 columns]

프랜차이즈점포수

In [138]:
# Index(['구', '행정구역', '2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
#        '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
#        '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
#        '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
#        '2020년 1분기 일점포수', '2020년 1분기 프랜차이점포수', '2020년 1분기 전점포수',
#        '2020년 2분기 일점포수', '2020년 2분기 프랜차이점포수', '2020년 2분기 전점포수']

stores_dong_fran_1 = stores_dong.drop(['2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
       '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
       '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
       '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
       '2020년 1분기 일점포수',  '2020년 1분기 전점포수',
       '2020년 2분기 일점포수', '2020년 2분기 프랜차이점포수', '2020년 2분기 전점포수', '2분기'], axis=1)

stores_dong_fran_2 = stores_dong.drop(['2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
       '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
       '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
       '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
       '2020년 1분기 일점포수', '2020년 1분기 프랜차이점포수', '2020년 1분기 전점포수',
       '2020년 2분기 일점포수',  '2020년 2분기 전점포수', '1분기'], axis=1)

In [139]:
### 동 프랜차이즈 점포수 df에 넣기!
df = df.merge(stores_dong_fran_1,left_on = ['구', '동', '분기'], right_on = ['구', '행정구역', '1분기'], how='left')
df = df.merge(stores_dong_fran_2,left_on = ['구', '동', '분기'], right_on = ['구', '행정구역', '2분기'], how='left')

#  점포수 분기로 구분해서 넣기
df['동_프랜차이즈점포수'] = df['2020년 1분기 프랜차이점포수'].combine_first(df['2020년 2분기 프랜차이점포수'])

# 쓸데없는거버리기
df.drop(['행정구역_x', '2020년 1분기 프랜차이점포수', '1분기', '행정구역_y',
       '2020년 2분기 프랜차이점포수', '2분기',],axis=1,inplace=True)

In [140]:
df

             날짜    구      동   분기  동_전체점포수  동_프랜차이즈점포수
0      20200201  종로구  청운효자동  1분기    753.0        22.0
1      20200202  종로구  청운효자동  1분기    753.0        22.0
2      20200203  종로구  청운효자동  1분기    753.0        22.0
3      20200204  종로구  청운효자동  1분기    753.0        22.0
4      20200205  종로구  청운효자동  1분기    753.0        22.0
...         ...  ...    ...  ...      ...         ...
90307  20200827  강동구   둔촌2동  2분기   1085.0        86.0
90308  20200828  강동구   둔촌2동  2분기   1085.0        86.0
90309  20200829  강동구   둔촌2동  2분기   1085.0        86.0
90310  20200830  강동구   둔촌2동  2분기   1085.0        86.0
90311  20200831  강동구   둔촌2동  2분기   1085.0        86.0

[90312 rows x 6 columns]

일반점포수

In [141]:
# Index(['구', '행정구역', '2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
#        '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
#        '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
#        '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
#        '2020년 1분기 일점포수', '2020년 1분기 프랜차이점포수', '2020년 1분기 전점포수',
#        '2020년 2분기 일점포수', '2020년 2분기 프랜차이점포수', '2020년 2분기 전점포수']

stores_dong_gen_1 = stores_dong.drop(['2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
       '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
       '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
       '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
       '2020년 1분기 프랜차이점포수',  '2020년 1분기 전점포수',
       '2020년 2분기 일점포수', '2020년 2분기 프랜차이점포수', '2020년 2분기 전점포수', '2분기'], axis=1)

stores_dong_gen_2 = stores_dong.drop(['2018년 1분기 일점포수', '2018년 1분기 프랜차이점포수', '2018년 1분기 전점포수',
       '2018년 2분기 일점포수', '2018년 2분기 프랜차이점포수', '2018년 2분기 전체점포수',
       '2019년 1분기 일점포수', '2019년 1분기 프랜차이점포수', '2019년 1분기 전점포수',
       '2019년 2분기 일점포수', '2019년 2분기 프랜차이점포수', '2019년 2분기 전점포수',
       '2020년 1분기 일점포수', '2020년 1분기 프랜차이점포수', '2020년 1분기 전점포수',
       '2020년 2분기 프랜차이점포수',  '2020년 2분기 전점포수', '1분기'], axis=1)

In [142]:
### 동 일반 점포수 df에 넣기!
df = df.merge(stores_dong_gen_1,left_on = ['구', '동', '분기'], right_on = ['구', '행정구역', '1분기'], how='left')
df = df.merge(stores_dong_gen_2,left_on = ['구', '동', '분기'], right_on = ['구', '행정구역', '2분기'], how='left')

#  점포수 분기로 구분해서 넣기
df['동_일반점포수'] = df['2020년 1분기 일점포수'].combine_first(df['2020년 2분기 일점포수'])

# 쓸데없는거버리기
df.drop(['행정구역_x', '2020년 1분기 일점포수', '1분기', '행정구역_y',
       '2020년 2분기 일점포수', '2분기',],axis=1,inplace=True)

In [143]:
df

             날짜    구      동   분기  동_전체점포수  동_프랜차이즈점포수  동_일반점포수
0      20200201  종로구  청운효자동  1분기    753.0        22.0    731.0
1      20200202  종로구  청운효자동  1분기    753.0        22.0    731.0
2      20200203  종로구  청운효자동  1분기    753.0        22.0    731.0
3      20200204  종로구  청운효자동  1분기    753.0        22.0    731.0
4      20200205  종로구  청운효자동  1분기    753.0        22.0    731.0
...         ...  ...    ...  ...      ...         ...      ...
90307  20200827  강동구   둔촌2동  2분기   1085.0        86.0    999.0
90308  20200828  강동구   둔촌2동  2분기   1085.0        86.0    999.0
90309  20200829  강동구   둔촌2동  2분기   1085.0        86.0    999.0
90310  20200830  강동구   둔촌2동  2분기   1085.0        86.0    999.0
90311  20200831  강동구   둔촌2동  2분기   1085.0        86.0    999.0

[90312 rows x 7 columns]

In [146]:
df_store = df

In [147]:
df_store.to_csv('처리/변수_점포수까지.csv', encoding='cp949')

In [ ]:
# before = pd.read_csv('처리/FINAL_FINAL_코로나추가2.csv', encoding='cp949')
# living = pd.read_csv('처리/생활인구_구.csv', encoding='cp949')
# stores_dong = pd.read_csv('처리/점포수_동.csv', encoding='cp949')

## df_store에 기존 변수 정리내용 넣기

In [148]:
df_store.head()

         날짜    구      동   분기  동_전체점포수  동_프랜차이즈점포수  동_일반점포수
0  20200201  종로구  청운효자동  1분기    753.0        22.0    731.0
1  20200202  종로구  청운효자동  1분기    753.0        22.0    731.0
2  20200203  종로구  청운효자동  1분기    753.0        22.0    731.0
3  20200204  종로구  청운효자동  1분기    753.0        22.0    731.0
4  20200205  종로구  청운효자동  1분기    753.0        22.0    731.0

In [179]:
# 날짜 형식 변경

for k in range(len(before['날짜'])):
    c= ""
    a = before['날짜'][k].split("-")
    for b in a:
        c += b
        before['날짜'][k] = c

In [182]:
# before.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1,inplace=True)
# before.columns = ['날짜', '구', '구_생활인구수', '구_유동인구수', '구_전체점포수', '구_프랜차이즈점포수', '구_일반점포수', '구_확진자수', '구_신규',
#        '구_누적확진자수', '서울_신규', '서울_누적']
# before.head()
# 위에서 실행하긴 햇는데, 중간중간 테스트하다 까먹으면 다시 도릷시다

In [183]:
before

,날짜,구,구_생활인구수,구_유동인구수,구_전체점포수,구_프랜차이즈점포수,구_일반점포수,구_확진자수,구_신규,구_누적확진자수,서울_신규,서울_누적
0,20200201,강남구,759286.0842,526535.0000,55875,4371,51504,0,0,0,0.0,0.0
1,20200201,강동구,519147.6209,347490.4167,20974,1901,19073,0,0,0,0.0,0.0
2,20200201,강북구,319527.8081,248604.1667,13417,1075,12342,0,0,0,0.0,0.0
3,20200201,강서구,555865.8080,452703.3333,25902,2633,23269,0,0,0,0.0,0.0
4,20200201,관악구,520445.2208,415262.5000,19734,1908,17826,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5334,20200831,은평구,449585.9084,332800.4167,18350,1572,16778,3,248,19947,104.0,4019.0
5335,20200831,종로구,272909.3277,214046.6667,25318,1608,23710,2,248,19947,104.0,4019.0
5336,20200831,중구,267535.5238,230347.5000,40015,2062,37953,0,248,19947,104.0,4019.0
5337,20200831,중랑구,359603.2996,293332.0833,16180,1286,14894,6,248,19947,104.0,4019.0
5338,20200831,중랑구,359603.2996,293332.0833,16180,1286,14894,4,248,19947,104.0,4019.0

In [208]:
# df_store.날짜.astype(int)
# objecct인 before.날짜를 int로 변환해줘야 merge됨

before.날짜 = before.날짜.astype(str).astype(int)
df_store.날짜.astype(int)

0        종로구
1        종로구
2        종로구
3        종로구
4        종로구
        ...
90307    강동구
90308    강동구
90309    강동구
90310    강동구
90311    강동구
Name: 구, Length: 90312, dtype: object

In [209]:
df_com = df_store.merge(before, left_on = ['날짜', '구'], right_on = ['날짜', '구'], how = 'left')

In [210]:
df_com

,날짜,구,동,분기,동_전체점포수,동_프랜차이즈점포수,동_일반점포수,구_생활인구수,구_유동인구수,구_전체점포수,구_프랜차이즈점포수,구_일반점포수,구_확진자수,구_신규,구_누적확진자수,서울_신규,서울_누적
0,20200201,종로구,청운효자동,1분기,753.0,22.0,731.0,258768.0006,188023.3333,25500.0,1616.0,23884.0,0.0,0.0,0.0,0.0,0.0
1,20200202,종로구,청운효자동,1분기,753.0,22.0,731.0,236457.6143,167975.8333,25500.0,1616.0,23884.0,1.0,0.0,0.0,1.0,8.0
2,20200203,종로구,청운효자동,1분기,753.0,22.0,731.0,302627.0093,240800.4167,25500.0,1616.0,23884.0,0.0,0.0,0.0,0.0,8.0
3,20200204,종로구,청운효자동,1분기,753.0,22.0,731.0,307809.9472,244687.9167,25500.0,1616.0,23884.0,0.0,18.0,18.0,0.0,8.0
4,20200205,종로구,청운효자동,1분기,753.0,22.0,731.0,307590.9415,242954.5833,25500.0,1616.0,23884.0,0.0,1.0,19.0,2.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90885,20200827,강동구,둔촌2동,2분기,1085.0,86.0,999.0,507111.0922,326577.5000,20935.0,1897.0,19038.0,7.0,441.0,18706.0,160.0,3560.0
90886,20200828,강동구,둔촌2동,2분기,1085.0,86.0,999.0,501176.1361,324507.9167,20935.0,1897.0,19038.0,2.0,371.0,19077.0,118.0,3678.0
90887,20200829,강동구,둔촌2동,2분기,1085.0,86.0,999.0,514350.0572,335155.4167,20935.0,1897.0,19038.0,1.0,323.0,19400.0,167.0,3845.0
90888,20200830,강동구,둔촌2동,2분기,1085.0,86.0,999.0,519189.1210,338506.2500,20935.0,1897.0,19038.0,2.0,299.0,19699.0,70.0,3915.0
90889,20200831,강동구,둔촌2동,2분기,1085.0,86.0,999.0,504370.5738,328907.9167,20935.0,1897.0,19038.0,2.0,248.0,19947.0,104.0,4019.0

## 동 생활인구수 넣기

In [233]:
living.columns = ['날짜', '동_생활인구수', '시도명', '구', '동']

In [234]:
living.head()

         날짜      동_생활인구수    시도명    구      동
0  20200201  15331.75856  서울특별시  종로구  청운효자동
1  20200202  14910.35589  서울특별시  종로구  청운효자동
2  20200203  16006.64390  서울특별시  종로구  청운효자동
3  20200204  16185.13111  서울특별시  종로구  청운효자동
4  20200205  16516.66448  서울특별시  종로구  청운효자동

In [235]:
df_all = df_com.merge(living[['날짜', '구', '동', '동_생활인구수']], on = ['날짜', '구', '동'], how='left')

In [238]:
df_all.loc[df_all.동_생활인구수.isnull()]

,날짜,구,동,분기,동_전체점포수,동_프랜차이즈점포수,동_일반점포수,구_생활인구수,구_유동인구수,구_전체점포수,구_프랜차이즈점포수,구_일반점포수,구_확진자수,구_신규,구_누적확진자수,서울_신규,서울_누적,동_생활인구수
372,20200201,종로구,창신1동,1분기,1791.0,31.0,1760.0,258768.0006,188023.3333,25500.0,1616.0,23884.0,0.0,0.0,0.0,0.0,0.0,NaN
373,20200202,종로구,창신1동,1분기,1791.0,31.0,1760.0,236457.6143,167975.8333,25500.0,1616.0,23884.0,1.0,0.0,0.0,1.0,8.0,NaN
374,20200203,종로구,창신1동,1분기,1791.0,31.0,1760.0,302627.0093,240800.4167,25500.0,1616.0,23884.0,0.0,0.0,0.0,0.0,8.0,NaN
375,20200204,종로구,창신1동,1분기,1791.0,31.0,1760.0,307809.9472,244687.9167,25500.0,1616.0,23884.0,0.0,18.0,18.0,0.0,8.0,NaN
376,20200205,종로구,창신1동,1분기,1791.0,31.0,1760.0,307590.9415,242954.5833,25500.0,1616.0,23884.0,0.0,1.0,19.0,2.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90885,20200827,강동구,둔촌2동,2분기,1085.0,86.0,999.0,507111.0922,326577.5000,20935.0,1897.0,19038.0,7.0,441.0,18706.0,160.0,3560.0,NaN
90886,20200828,강동구,둔촌2동,2분기,1085.0,86.0,999.0,501176.1361,324507.9167,20935.0,1897.0,19038.0,2.0,371.0,19077.0,118.0,3678.0,NaN
90887,20200829,강동구,둔촌2동,2분기,1085.0,86.0,999.0,514350.0572,335155.4167,20935.0,1897.0,19038.0,1.0,323.0,19400.0,167.0,3845.0,NaN
90888,20200830,강동구,둔촌2동,2분기,1085.0,86.0,999.0,519189.1210,338506.2500,20935.0,1897.0,19038.0,2.0,299.0,19699.0,70.0,3915.0,NaN
90889,20200831,강동구,둔촌2동,2분기,1085.0,86.0,999.0,504370.5738,328907.9167,20935.0,1897.0,19038.0,2.0,248.0,19947.0,104.0,4019.0,NaN

In [240]:
df_all.to_csv('처리/변수_다함.csv', encoding = 'cp949')